<!DOCTYPE html>
<html>
<head>
<title></title>
<script src="angular.min.js"></script>

</head>
<script>
	function customer($scope){
		$scope.customerName="sriram";
		$scope.customerCode="10000";

	};
	var myApp = angular.module("myApp",[])
	myApp.controller("customerobj","customer")
</script>

<body>
<div ng-app="myApp">
<div id="custcreen" ng-controller="customerobj">
	customer Name:- <input ng-model="customerName" type="text" id="customerName">
	customer code:- <input ng-model="customerCode" type="text" id="customerCode">
	<div id="divCustomerName">{{customerName}}</div>
	<div id="divCustomerCode">{{customerCode}}</div><br/>
</div> <br/>

<div id="custcreen" ng-controller="customerobj">
	customer Name:- <input ng-model="customerName" type="text" id="customerName">
	customer code:- <input ng-model="customerCode" type="text" id="customerCode">
	<div id="divCustomerName">{{customerName}}</div>
	<div id="divCustomerCode">{{customerCode}}</div><br/>
</div>
</div>
</body>
</html>